.size {
    border: 5px solid;
    width:200px;
    height:200px;  
  }
  
  .block1 { display:inline-block;
    background-color: red;
  }
  .block2 { display:inline-block;
    background-color: orange;
  }
  .block3 { display:inline-block;
    background-color: yellow;
  }
  .block4 { display:inline-block;
    background-color: darkgreen;
  }
  .block5 { display:inline-block;
    background-color: green;
  }
  .block6 { display:inline-block;
    background-color: lightgreen;
  }
  .block7 { display:inline-block;
    background-color: darkviolet;
  }
  .block8 { display:inline-block;
    background-color: violet;
  }
  .block9 { display:inline-block;
    background-color: pink;
  }